<%= render 'layouts/fb' %>
<% provide(:title, 'Demo') %>
<div class="row">
  <div class="large-10 columns large-centered">
    <div class="content" id="img-text-black">
      <br/>
      Demonstration
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="large-6 columns">
    <h3>Sample Checkout Process</h3>
  </div>
  <div class="large-6 columns">
    <h4>Order Summary</h4>
    <br/>

    <div class="row">
      <div class="large-4 columns">
        <img src="http://placehold.it/140x100">
      </div>
      <div class="large-8 columns">
        <br/>
        <br/>
        <h5>Basic Widget</h5>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="large-10 columns" id="cart-list">
        <h5>Item Price:</h5>
      </div>
      <div class="large-2 columns">
        <h5>$85.00</h5>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns" id="cart-list">
        <h4>
          <small>Shipping:</small>
        </h4>
      </div>
      <div class="large-2 columns">
        <h4>
          <small>$10.00</small>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns" id="cart-list">
        <h4>
          <small>Taxes:</small>
        </h4>
      </div>
      <div class="large-2 columns">
        <h4>
          <small>$5.00</small>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns" id="cart-list">
        <h5><strong>Total:</strong></h5>
      </div>
      <div class="large-2 columns">
        <h5><strong>$100.00</strong></h5>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="large-10 columns" id="cart-list">
        <a href="#" class="tiny radius button" id="sd_button" data-dropdown="drop2">SocialDiscount &raquo;</a>
        <div id="drop2" data-dropdown-content class="f-dropdown content">
          <h5>Show your friends, get a discount!</h5>
          <p>Connect your Facebook account to calculate your discount.</p>
          <fb:login-button data-size="large" show-faces="false" width="200" max-rows="1"></fb:login-button>
          <br/>
          <br/>
          <p id="disclaimer">Clicking "Log in" will not post anything to your profile</p>
        </div>
      </div>
      <div class="large-2 columns" id="sd-row">
        <!--<fb:login-button data-size="small" show-faces="false" width="200" max-rows="1"></fb:login-button>-->
        <h5 id="discountAmt">$0.00</h5>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="large-12 columns large-centered" id="cart-list">
        <div id="myModal" class="reveal-modal" data-reveal>
          <h2 id="features">Select Your Total</h2>
          <div class="row">
            <div class="large-6 columns">
              <div class="panel callout radius">
                <h3 id="features">SOCIALDISCOUNT</h3>
                <br/>
                <div id="features"><h3 id="sdTotal">$100.00</h3></div>
                <br/>
                <h5>To receive this price, SocialDiscount will do the following on your behalf:</h5>
                <ul class="disc">
                  <li>Like (your business) page</li>
                </ul>
                <br/>
                <br/>
                <div class="cta-wrapper" id="submit">
                    <div class="small radius button success">Submit Order</div>
                </div>
              </div>
            </div>
            <div class="large-6 columns">
              <div class="panel">
                <h4 id="features">Standard</h4>
                <br/>
                <h4 id="features">$100.00</h4>
                <br/>
                <br/>
                <h5>Nothing will be posted to your Facebook profile</h5>
                <br/>
                <br/>
                <div class="cta-wrapper" id="submit">
                  <div class="small radius success button">Submit Order</div>
                </div>
              </div>
            </div>
          </div>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <a href="#" class="small success button" data-reveal-id="myModal" data-reveal>Select Pricing Type</a>
      </div>
    </div>
    <br/>

  </div>
</div>
<script>
    document.write('<script src=' +
            ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
            '.js><\/script>')
</script>
