<%= render 'layouts/fb' %>
<% provide(:title, 'Demonstration') %>
<div class="row">
  <div class="large-10 columns large-centered">
    <div class="content" id="img-text">
      </br>
      </br>
      Demonstration
    </div>
  </div>
</div>
