<!--Background Colors & Main Content -->
<a name="home"></a>
<div class="fullscreen-cont">
  <div class="fullscreen-orange">
    <div class="row">
      <div class="large-10 columns large-centered">
        <div class="content" id="img-text">
          </br>
          </br>
          </br>
          </br>
          </br>
          GROW YOUR SOCIAL PRESENCE.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns large-centered">
        <div class="content" id="img-text">
          EFFICIENTLY.
        </div>
      </div>
    </div>
  </div>
</div>
<a name="features"></a>
<div class="fullscreen-cont">
  <div class='row'>
    <div class='large-4 columns'>
      </br>
      </br>
      </br>
      </br>
      <div class="content">
        <i class="fa fa-thumbs-up fa-3x"></i>
      </div>
      </br>
      </br>
      <h3 class='header' id='features'>
        Social advocates lead to brand growth
      </h3>
      </br>
      <h5 class='subheader'>
        Recruiting social advocates is an essential part of building your brand awareness online. Encouraging customers to spread the word about your brand allows you to generate awareness without the expense of traditional media buys. The easier it is for customers to spread the word about your brand online, the greater the impact will be for your brand. 
      </h5>
    </div>
    <div class='large-4 columns'>
      </br>
      </br>
      </br>
      </br>
      <div class='content'>
        <i class="fa fa-users fa-3x"></i>
      </div>
      </br>
      </br>
      <h3 class='header' id='features'>
        Brand lift depends on an individual's influence 
      </h3>
      </br>
      <h5 class='subheader'>
        Growing your brand's social presence is more than just adding a like button to your website. Each one of your customers has their own unique mix of friends, interests, and ultimately influence. To build a highly effective social presence, you need highly influencial advocates. 
      </h5>
    </div>
    <div class='large-4 columns'>
      </br>
      </br>
      </br>
      </br>
      <div class='content'>
        <i class="fa fa-trophy fa-3x"></i>
      </div>
      </br>
      </br>
      <h3 class='header' id='features'>
        Reward customers for their social influence
      </h3>
      </br>
      <h5 class='subheader'>
        Incentivizing customers to build awareness of your business makes sense, but offering every customer the same incentive is inefficient. For example, having 1,000 highly influencial customer advocates is much more powerful than 5,000 advocates that don't drive conversions.
      </h5>
    </div>
  </div>
</div>
<a name="pricing"></a>
<div class="fullscreen-cont">
  <div class="fullscreen-blue">
    <div class="row">
      <div class="large-6 columns">
        </br>
        </br>
        </br>
        </br>
        </br>
        <img alt="social discount screenshot" src="https://s3.amazonaws.com/socialdiscount.com/img/screenshot.jpg">
      </div>
      <div class="large-6 columns">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
          <h2 class='header'>
            Here's where we come in
          </h2>
        </br>
          <h4 class='subheader'>
            Whether you're a Mom and Pop business looking to build brand awareness, or you're an online retailer looking to increase the conversion rate of your social campaigns, SocialDiscount is here to help. We offer powerful, intuitive analytics that allow you to optimize your incentives in real-time. 
          </h4>
      </div>
    </div>  
  </div>
</div>
<a name="signup"></a>
<div class="fullscreen-cont">
  <div class="fullscreen-grey">
    <div class="row collapse">
    <div class="large-4 columns">
      </br>
      </br>
      </br>
      <ul class="pricing-table left-side">
        <li class="title">Bootstrap</li>
        <li class="price">$29/mo</li>
        <li class="description">Grow your social media from the ground up</li>
        <li class="bullet-item"><i class="foundicon-graph"></i>  2,500 Influencers</li>
        <li class="bullet-item"><i class="foundicon-cloud"></i> 1 Social Platform</li>
        <li class="bullet-item"><i class="foundicon-address-book"></i> Basic Demographics</li>
        <li class="bullet-item"><i class="foundicon-phone"></i> $0.05 per additional influencer</li>
        <li class="cta-button"><%= link_to "Sign Up", signup_path, class: "button" %></li>
      </ul>
    </div>
    <div class="large-4 columns recommended">
        </br>
        </br>
        </br>
      <ul class="pricing-table">
        <li class="title">Veteran</li>
        <li class="price">$49/mo</li>
        <li class="description">Established social presence</li>
        <li class="bullet-item"><i class="foundicon-graph"></i>10,000 Influencers</li>
        <li class="bullet-item"><i class="foundicon-cloud"></i> 2 Social Platforms</li>
        <li class="bullet-item"><i class="foundicon-address-book"></i> Enhanced Demographics</li>
        <li class="bullet-item"><i class="foundicon-website"></i> $0.02 per additional influencer</li>
        <li class="cta-button"><%= link_to "Sign Up", signup_path, class: "button" %></li>
      </ul>
    </div>
    <div class="large-4 columns">
        </br>
        </br>
        </br>
      <ul class="pricing-table right-side">
        <li class="title">Titan</li>
        <li class="price">$89/mo</li>
        <li class="description">Bring your powerful social presence to the next level</li>
        <li class="bullet-item"><i class="foundicon-graph"></i>25,000 influencers</li>
        <li class="bullet-item"><i class="foundicon-cloud"></i> 3 Social Platforms</li>
        <li class="bullet-item"><i class="foundicon-address-book"></i> Complete Demographics</li>
        <li class="bullet-item"><i class="foundicon-website"></i> $0.005 per additional influencer</li>
        <li class="cta-button"><%= link_to "Sign Up", signup_path, class: "button" %></li>
      </ul>
    </div>
  </div>  
  </div>
</div>

<script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script> 