@charset "utf-8";

/* CSS Document */

footer {
  padding: 2em 0;
  margin: 3em 0;
  border-top: 1px solid #ddd;
  color: #999;
  text-align: center;
  font-size: 1.8em;
}

/* Mixins */

@mixin fullscreen-color {
  display:block;position:absolute;z-index:1;
  min-width:100%;
  min-height:100%;
  background:center center no-repeat;
  background-size:cover;
}

@mixin img-text {
  margin-top:0.2em;
  font-size:3em;
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
  vertical-align: middle;
}

/* Fullscreen Background */

html, body {
    /* any div up to fullscreen-cont must have this
    in this case html and body */
    height:100%;
    min-height:100%;
    font-family:'Josefin Sans', sans-serif;
}
.fullscreen-cont {
    display:block;position:relative;
    min-width:100%;
    min-height:100%;
    margin-bottom:2px;
}
.fullscreen-blue {
    @include fullscreen-color;
    background-color: #46BBCF;
}

.fullscreen-orange {
    @include fullscreen-color;
    background-color: #FA6900;
}

.fullscreen-grey {
    @include fullscreen-color;
    background-color: #EEF2F3;
}

.content {
    display:block;
    position:relative;
    z-index:2;
    text-align: center;
}


/* custom setting */

#img-text-white{
  @include img-text;
  color:#ffffff;
}

#img-text-black{
  @include img-text;
  color:#000000;
}

#cart-list {
  text-align:right;
}

#sd_button {
  background-color: #FA6900;
}

#sd-row {
  padding-top:0.5em;
}

#disclaimer {
  font-size:0.9em;
  font-weight:bold;
}

#submit {
  padding-left:35%;
}
/* Icons */

.fa {
    padding-left:30%;
}

#features {
    text-align:center;
}

/* Pricing Table */

.recommended .pricing-table { box-shadow: 0 0 10px rgba(0,0,0,0.25); position: relative; z-index: 2; }



