<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '469204263202836',
      status     : true,
      xfbml      : true
    });

      FB.Event.subscribe('auth.authResponseChange', function(response) {
          if (response.status === 'connected') {
              fbConnected();
          } else if (response.status === 'not_authorized') {
              FB.login(function(response) {
                  // handle the response
              }, {scope: 'locale,user_birthday,user_friends'});
          } else {
              FB.login(function(response) {
                  // handle the response
              }, {scope: 'locale,user_birthday,user_friends'});
          }
      });

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


  function fbConnected() {
      FB.api("/me/friends", function(response) {
          var numFriends = response.data.length;
          //document.getElementById('friends').innerHTML = response.data.length;


      if (numFriends < 200) {
          document.getElementById('discountAmt').innerHTML = "$2.00";
          document.getElementById('sdTotal').innerHTML = "$98.00";
      }
      else if (numFriends >= 200 && numFriends < 500) {
          document.getElementById('discountAmt').innerHTML = "$4.00";
          document.getElementById('sdTotal').innerHTML = "$96.00";
      }
      else if (numFriends >= 500) {
          document.getElementById('discountAmt').innerHTML = "$6.00";
          document.getElementById('sdTotal').innerHTML = "$94.00";
      }
      else
          document.getElementById('friends').innerHTML = "$0.00";

      });
    }



    function sdSubmit() {
      FB.login(function(response){
          FB.api('/me/permissions', function(response) {
          console.log(response);                      

          if(response.data[0].publish_actions)
          {
              alert('Proceed to checkout page, where post is shared upon successful order');
          }
          else
          {
              alert('To receive the SocialDiscount price, you must allow us to post on your behalf');
          }
        }); 
      }, {scope: 'publish_actions'});
    }
    

  
</script>