<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '469204263202836',
      status     : true,
      xfbml      : true
    });

      FB.Event.subscribe('auth.authResponseChange', function(response) {
          if (response.status === 'connected') {
              fbConnected();
          } else if (response.status === 'not_authorized') {
              FB.login(function(response) {
                  // handle the response
              }, {scope: 'locale,user_birthday,user_friends'});
          } else {
              FB.login(function(response) {
                  // handle the response
              }, {scope: 'locale,user_birthday,user_friends'});
          }
      });

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function fbConnected() {
      FB.api("/me/friends", function(response) {
          document.getElementById('friends').innerHTML = response.data.length;
      });
      //FB.api('/me', function(response) {
        //  var fbName = document.getElementById('fbName');
          //var fbLogout = document.getElementById('fbLogout');
         // fbName.innerHTML = "Logged in as <a href='https://www.facebook.com/"+response.username+"'>"+response.first_name+"</a>";
          //fbLogout.innerHTML = "<input type='button' value='Logout' onclick='fbLogout()'/>";
     // });

  }

</script>